<h1>Create a Team and Heroes!</h1>
<br>
<p><label for="team[name]">Team Name: </label><input type="text" name="team[name]"/></p>
<p><label for="team[motto]">Team Motto: </label><input type="text" name="team[motto]"/></p>
<h2>Hero 1</h2>
<p><label for ="team[members][][name]">Hero's Name: </label><input type="text" name="team[members][][name]"
<h2>Hero 2</h2>
<h2>Hero 3</h2>